$gray: #333333;
$green: #63e9b2;
$greenlgt: rgba(99, 233, 178, 0.5);
$greendrk: #00b269;
$noto: "Noto Sans JP";
$raleway: "Raleway";
* {
    margin: 0px;
    border: none;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    font-family: $raleway;
    div {
        width: auto;
        height: auto;
        a {
            color: $green;
            font-size: 25px;
            font-family: $noto;
            margin-left: 103px;
        }
    }
    li {
        width: 490px;
        height: auto;
        margin-right: 100px;
        display: flex;
        font-size: 17px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: none;
        ul:nth-child(1) {
            //como funciona?
            width: 225px;
            padding-left: 10px;
            a {
                color: $green;
                font-size: 19px;
                font-family: $raleway;
            }
        }
        ul:nth-child(2) {
            //login
            width: 120px;
            height: 30px;
            text-align: center;
            line-height: 27px;
            border: 1px solid $green;
            border-radius: 1px;
            a {
                color: $green;
                font-size: 17px;
                font-family: $raleway;
            }
            &:hover {
                background: $green;
                border: 1px solid $green;
                cursor: pointer;
                transition: 0.5s;
                a {
                    color: #fff;
                }
            }
            &:not(:hover) {
                transition: 0.5s;
            }
        }
        ul:nth-child(3) {
            width: 120px;
            height: 30px;
            text-align: center;
            line-height: 27px;
            border: 1px solid $green;
            border-radius: 1px;
            background: $green;
            margin-left: 35px;
            a {
                color: #fff;
                font-size: 17px;
                font-family: $raleway;
            }
            &:hover {
                background: #fff;
                border: 1px solid $green;
                cursor: pointer;
                transition: 0.5s;
                a {
                    color: $green;
                }
            }
            &:not(:hover) {
                transition: 0.5s;
            }
        }
    }
}

main {
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 105px;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    div:nth-child(1) {
        width: 460px;
        height: 560px;
        margin-top: 55px;
        padding: 0px 15px 0px;
        background-color: #fff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form {
            width: 350px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            div {
                width: 330px;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                box-shadow: none;
                position: relative;
                margin: 5px auto;
                h1 {
                    width: 300px;
                    color: $greendrk;
                    font-size: 15px;
                    margin: 5px auto;
                    font-family: $raleway;
                    &:hover~span {
                        display: flex;
                    }
                }
                span {
                    width: 200px;
                    color: $greendrk;
                    font-size: 13px;
                    font-weight: 700;
                    margin: 5px auto;
                    font-family: $raleway;
                    position: absolute;
                    top: 2px;
                    right: 15px;
                    display: none;
                }
                label {
                    width: auto;
                    padding: 5px;
                    margin: 5px;
                    color: #fff;
                    border-radius: 3px;
                    background-color: $greenlgt;
                    font-size: 17px;
                    font-family: $raleway;
                    cursor: pointer;
                }
                input[type="checkbox"] {
                    display: none;
                }
                input[type="checkbox"]:checked+label {
                    background-color: $greendrk;
                }
            }
            input[type="submit"] {
                width: 303px;
                height: 38px;
                background: $green;
                color: #fff;
                border-radius: 2px;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 15px;
                letter-spacing: 1px;
                font-family: $noto;
            }
            //nivel de conhecimento
            h1 {
                width: 300px;
                color: $greendrk;
                font-size: 15px;
                margin: 10px auto;
                font-family: $raleway;
                a {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
            input[type="range"] {
                width: 100%;
                height: 10px;
                margin: 5px 0px;
                -webkit-appearance: none;
            }
            .range {
                width: 100%;
                height: 15px;
                background: linear-gradient(90deg, $green 80%, $green 80%);
                outline: none;
                border-radius: 10px;
                appearance: none;
                -webkit-appearance: none;
            }
            .range::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                width: 10px;
                height: 10px;
                background-color: $greendrk;
                border: 1px solid $greendrk;
                border-radius: 50%;
            }
        }
        p {
            colo$gray: #333333;
$green: #63e9b2;
$greenlgt: rgba(99, 233, 178, 0.5);
$greendrk: #00b269;
$noto: "Noto Sans JP";
$raleway: "Raleway";
* {
    margin: 0px;
    border: none;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    font-family: $raleway;
    div {
        width: auto;
        height: auto;
        a {
            color: $green;
            font-size: 25px;
            font-family: $noto;
            margin-left: 103px;
        }
    }
    li {
        width: 490px;
        height: auto;
        margin-right: 100px;
        display: flex;
        font-size: 17px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: none;
        ul:nth-child(1) {
            //como funciona?
            width: 225px;
            padding-left: 10px;
            a {
                color: $green;
                font-size: 19px;
                font-family: $raleway;
            }
        }
        ul:nth-child(2) {
            //login
            width: 120px;
            height: 30px;
            text-align: center;
            line-height: 27px;
            border: 1px solid $green;
            border-radius: 1px;
            a {
                color: $green;
                font-size: 17px;
                font-family: $raleway;
            }
            &:hover {
                background: $green;
                border: 1px solid $green;
                cursor: pointer;
                transition: 0.5s;
                a {
                    color: #fff;
                }
            }
            &:not(:hover) {
                transition: 0.5s;
            }
        }
        ul:nth-child(3) {
            width: 120px;
            height: 30px;
            text-align: center;
            line-height: 27px;
            border: 1px solid $green;
            border-radius: 1px;
            background: $green;
            margin-left: 35px;
            a {
                color: #fff;
                font-size: 17px;
                font-family: $raleway;
            }
            &:hover {
                background: #fff;
                border: 1px solid $green;
                cursor: pointer;
                transition: 0.5s;
                a {
                    color: $green;
                }
            }
            &:not(:hover) {
                transition: 0.5s;
            }
        }
    }
}

main {
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 105px;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    div:nth-child(1) {
        width: 460px;
        height: 560px;
        margin-top: 55px;
        padding: 0px 15px 0px;
        background-color: #fff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form {
            width: 350px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            div {
                width: 330px;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                box-shadow: none;
                position: relative;
                margin: 5px auto;
                h1 {
                    width: 300px;
                    color: $greendrk;
                    font-size: 15px;
                    margin: 5px auto;
                    font-family: $raleway;
                    &:hover~span {
                        display: flex;
                    }
                }
                span {
                    width: 200px;
                    color: $greendrk;
                    font-size: 13px;
                    font-weight: 700;
                    margin: 5px auto;
                    font-family: $raleway;
                    position: absolute;
                    top: 2px;
                    right: 15px;
                    display: none;
                }
                label {
                    width: auto;
                    padding: 5px;
                    margin: 5px;
                    color: #fff;
                    border-radius: 3px;
                    background-color: $greenlgt;
                    font-size: 17px;
                    font-family: $raleway;
                    cursor: pointer;
                }
                input[type="checkbox"] {
                    display: none;
                }
                input[type="checkbox"]:checked+label {
                    background-color: $greendrk;
                }
            }
            input[type="submit"] {
                width: 303px;
                height: 38px;
                background: $green;
                color: #fff;
                border-radius: 2px;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 15px;
                letter-spacing: 1px;
                font-family: $noto;
            }
            //nivel de conhecimento
            h1 {
                width: 300px;
                color: $greendrk;
                font-size: 15px;
                margin: 10px auto;
                font-family: $raleway;
                a {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
            input[type="range"] {
                width: 100%;
                height: 10px;
                margin: 5px 0px;
                -webkit-appearance: none;
            }
            .range {
                width: 100%;
                height: 15px;
                background: linear-gradient(90deg, $green 80%, $green 80%);
                outline: none;
                border-radius: 10px;
                appearance: none;
                -webkit-appearance: none;
            }
            .range::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                width: 10px;
                height: 10px;
                background-color: $greendrk;
                border: 1px solid $greendrk;
                border-radius: 50%;
            }
        }
        p {
            color: gray;
            margin: 10px auto;
            font-family: $raleway;
            font-weight: 900;
            font-size: 15px;
            a {
                color: $green;
                border-bottom: 1px solid $green;
                font-family: $raleway;
            }
        }
    }
    div:nth-child(2) {
        width: 430px;
        height: 430px;
        margin-top: 124px;
        margin-left: 17px;
        img {
            width: 100%;
            height: 86%;
        }
    }
}